 # LangSmith tracing
LANGSMITH_TRACING=""
LANGSMITH_API_KEY=""

# Azure OpenAI 
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHAT_MODEL_NAME=""
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=""
OPENAI_API_VERSION=""

# OpeWeathernWeatherMap
OPENWEATHERMAP_API_KEY=""

# CosmosDB
COSMOSDB_ENDPOINT=""
COSMOSDB_KEY=""
COSMOSDB_DATABASE_NAME=""
COSMOSDB_CONTAINER_NAME=""

#Chainlit
CHAINLIT_AUTH_SECRET=""

# Google OAuth
OAUTH_GOOGLE_CLIENT_ID=""
OAUTH_GOOGLE_CLIENT_SECRET=""

